#quit-room-btn {
  padding: 10px 25px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  margin: 10px;
}

#room-name {
  padding: 15px;
}

#game-container {
  width: 50vw;
  height: 50vh;
  border: 1px solid var(--main-button-border-color);
  border-radius: 0.3rem;
  margin: 25px;
  margin-left: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#ready-btn {
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  height: 100px;
  width: 200px;
  font-size: large;
  font-weight: bold;
}

#timer {
  font-size: xx-large;
  font-weight: bold;
}

#text-container {
  font-size: large;
}

#game-timer {
  position: absolute;
  bottom: 15px;
}

.user-header {
  display: flex;
  margin: 5px 0px;
}

.user {
  margin: 25px;
  width: 100%;
}

.username {
  margin-left: 20px;
}

.user-progress-template {
  width: 100%;
  border: 1px solid var(--main-button-border-color);
  height: 25px;
}

.user-progress {
  height: 100%;
  background-color: green;
}

.finished {
  background-color: greenyellow !important;
}

.ready {
  background-color: greenyellow;
}

.next {
  text-decoration: underline;
  background-color: transparent !important;
}

.normal {
  text-decoration: none !important;
  background-color: transparent !important;
}

#quit-room-btn,
#ready-btn,
#add-room-btn,
.join-btn,
.submit-btn,
.modal button,
#submit-button {
  border-radius: 0.3rem;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

#quit-room-btn::after,
#ready-btn::after,
#add-room-btn::after,
.join-btn::after,
.submit-btn::after,
.modal button::after,
#submit-button::after {
  border-radius: 0.3rem;
  content: '';
  background-color: #dcbaff;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 0.3rem;
  left: 0.3rem;
}

#quit-room-btn:hover,
#ready-btn:hover,
#add-room-btn:hover,
.join-btn:hover,
.submit-btn:hover,
.modal button:hover,
#submit-button:hover {
  background-color: rgba(113, 65, 175, 0.545);
}

.room,
#game-container {
  background-color: rgba(255, 255, 255, 0.368);
}
