.username-input-container {
  height: 39px;
  width: 240px;
}

#username-input {
  font-size: 16px;
}

#submit-button {
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  margin-left: 10px;
}

#submit-button {
  border-radius: 0.3rem;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

#submit-button::after {
  border-radius: 0.3rem;
  content: '';
  background-color: #dcbaff;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 0.3rem;
  left: 0.3rem;
}

#submit-button:hover {
  background-color: rgba(113, 65, 175, 0.545);
}
