#rooms-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#rooms-page {
  padding: 1rem;
  text-align: center;
}

#add-room-btn {
  padding: 10px 25px;
  border: 1px solid dimgray;
  background-color: var(--main-button-background-color);
  margin: 10px 25px;
}

.room {
  border: 1px solid var(--main-button-border-color);
  border-radius: 0.3rem;
  margin: 10px 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  min-width: 200px;
}

.room-name {
  font-size: large;
  font-weight: bold;
}

.join-btn {
  background-color: var(--main-button-background-color);
  border: 1px solid var(--main-button-border-color);
  padding: 5px 20px;
}
